<!-- <% @allpatients.each do |patient| %>
<% user = User.find(patient.user_id) %>
<script><%= add_gritter(user.fname + " " + user.lname + " is not wearing the brace properly", :title => "Patient update", :time => 8000, :sticky => true, :image => :warning) %></script>
<% end %> -->
<!-- need to fix the erb that shows doctor name -->
<p>Hi, <%= User.first.lname %></p>
<h1> Search Patient Name </h1>
<br>
<%= form_tag(doctor_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
  <%= submit_tag "Search", :name => nil %>
<% end %><br>
<% if params[:search] != nil && params[:search] != "" %>
Results:<br>
<% @users.each do |user| %>
<% patient = Patient.find_by(user_id: user.id) %>
<% if patient != nil %>
<%= link_to user.fname + " " + user.lname, [@doctor, patient] %><br><br>
<% end %>
<% end %>
<% end %>
<br>
<br>
<br>
<h3> Or click on a name in your patient list </h3>
<% @allpatients.each do |patient| %>
<% user = User.find(patient.user_id) %>
<%= link_to user.fname + " " + user.lname, [@doctor, patient] %><br><br>
<% end %>

<!-- # {controller: :doctors, action: :showpatient }, id: params[:id], patient_id: patient.id -->


