<% user = User.find(@allpatients.first.user_id) %>
<script><%= add_gritter(user.fname + " " + user.lname + " is not wearing the brace properly", :title => "Patient update", :time => 8000, :sticky => false, :image => :warning) %></script>
<!-- need to fix the erb that shows doctor name -->

<div class="row">
  <div class="twelve columns align_center">
    <h1> Search Patient Name </h1>
  </div>
</div>
<div class="row">
  <div class="centered five columns align_center">
    <%= form_tag(doctor_path, :method => "get", id: "search-form") do %>
        <div class="field">
          <div class="xxwide text input">
          <%= text_field_tag :search, params[:search], placeholder: "search by first and/or last name"%>
          </div>
        </div>
  </div>
</div>
<div class="row">
  <div class="centered five columns align_center">
    <div class="adjoined medium metro rounded btn default">
      <input type="submit" value="Search"/>
    </div>
  </div>
</div>
<% end %>
<% if params[:search] != nil && params[:search] != "" %>
<div class="row">
  <div class="centered three columns align_center results">
  <h2>Results:</h2>
  </div>
</div>
<div class="row">
  <div class="one columns"></div>
  <div class="three columns centered">
  <table>
  <% @users.each do |user| %>
  <% patient = Patient.find_by(user_id: user.id) %>
  <% if patient != nil %>
  <tr><td class="tr" id="tr"><%= link_to user.fname + " " + user.lname, '/doctors/' + params[:id].to_s + '/patients/' + patient.id.to_s%><br>
  <% end %>
  </td></tr>
  <% end %>
  </table>
  </div>
  <div class="three columns"></div>
</div>
<br>
<br>
<% end %>
<br>
<div class="row">
  <div class="centered eight columns align_center">
    <h3> ...or select a name from your patient list </h3>
  </div>
</div>
<div class="row">
  <div class="centered two columns align_center">
  <table>
    <% @allpatients.each do |patient| %>
    <tr><td class="tr" id="tr"><% user = User.find(patient.user_id) %>
    <%= link_to user.fname + " " + user.lname, '/doctors/' + params[:id].to_s + '/patients/' + patient.id.to_s%>
    </td></tr>
    <% end %>
  </table>
  </div>
</div>

<!-- # {controller: :doctors, action: :showpatient }, id: params[:id], patient_id: patient.id -->


