<!DOCTYPE html>
<html>
<head>
  <title>BraceRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<script type="text/javascript" src="http://d3js.org/d3.v3.js"></script>
<script type="text/javascript" src="https://rawgithub.com/tmcw/simple-statistics/master/src/simple_statistics.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="style.css" /> -->

</head>
<body>

<%= yield %><br>
<% if user_signed_in? %>
<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
<% end %>
</body>
</html>
