<!DOCTYPE html>
<html>
<head>
  <title>BraceRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :modernizr %>

<script type="text/javascript" src="http://d3js.org/d3.v3.js"></script>

<script src="app/assets/javascripts/c3.min.js"></script>


<!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> -->


<script type="text/javascript" src="https://rawgithub.com/tmcw/simple-statistics/master/src/simple_statistics.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="style.css" /> -->

</head>
<body>
<div class="navbar pretty" id="nav1">
  <div class = "row">
  <a class="toggle" gumby-trigger="#nav1 > ul" href="#"><i class="icon-menu"></i></a>
  <h1 class="one columns logo">
    <a href="/">
      <div id = "reallogo">
      <img src="/spinelogo.png" gumby-retina />
      </div>
    </a>
  </h1>
  <div class="two columns">
	  	<% if user_signed_in? %>
         <% if current_user.role === "Doctor" %>
	  	      <p id = "hiperson">Hi, Dr. <%= current_user.fname %> !</p>
          <% else %>
            <p id = "hiperson">Hi, <%= current_user.fname %> !</p>
          <% end %>
	  	<% end %>
  </div>
  <h1 class="seven columns"></h1>
  <ul class="two columns">
    <li>
    <% if user_signed_in? %>
	<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
	<% end %>
	</li>
  </ul>
  </div>
</div>

<%= yield %><br>

<br>
<br>
<br>
<br>
<br>
</body>
</html>
