<%= form_for @incentive do |f| %>
<div>
<%= f.label :title %>
<%= f.text_field :title, :size=>"50", :placeholder => "ex: Wearing brace every day for a week" %>
</div>
<div>
<%= f.label :description %>
<%= f.text_area :description, :placeholder => "Tell your child more about this incentive!" %>
</div>
<div>
<%= f.label :frequency, "Each" %>
<%= f.select :frequency, [['day', 'day'], ['week', 'week'], ['month', 'month']]%>

<%= f.label :compliance, "if compliance is %" %>
<%= f.select :compliance, ((50..100).step(5).map {|i| [i,i] }) %>

<%= f.label :reward, "give "+ User.find(Patient.find_by(parent_id: Parent.find_by(user_id: current_user.id).id).user_id).fname + " $" %>

<%= f.number_field :reward, in: 1.0..20.0, step: 0.5 %>
</div>

<%= f.hidden_field :parent_id, value: Parent.find_by(user_id: current_user.id).id %>
<%= f.hidden_field :patient_id, value: Patient.find_by(parent_id: Parent.find_by(user_id: current_user.id).id).id %>

<div>
<%= f.submit %>
</div>
<% end %>